@import 'tailwindcss';

@font-face {
  font-family: 'GeneralSans';
  src: url('/fonts/GeneralSans.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@layer base {
  * {
    font-family: 'GeneralSans', system-ui, sans-serif;
    font-weight: normal;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 600;
  }

  .font-semibold,
  .font-bold,
  .font-medium {
    font-weight: 600 !important;
  }
}
